<header class="container-fluid bg-dark">
    <div class="row d-flex justify-content-between align-items-center py-3 px-2">
        <div class="col">
            <img src="/imagens/logo.png" alt="Logo MAC" class="w-75" />
        </div>
        <li class="d-flex justify-content-end align-items-center col">
            <div class="d-flex justify-content-end align-items-center h-100 w-100" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list text-white p-0 m-0" style="transform: scale(2);"></i>
            </div>
            <ul class="dropdown-menu">
                <li><NavLink class="dropdown-item text-dark" href="#">teste</NavLink></li>
                <li><NavLink class="dropdown-item text-dark" href="#">Another action</NavLink></li>
                <li><NavLink class="dropdown-item text-dark" href="#">Something else here</NavLink></li>
            </ul>
        </li>
   </div>
</header>
             @* <NavLink class="nav-link" href="mypage">
                 <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> teste css
             </NavLink> *@
 